<h2>Register</h2>
<form method="post">
    <label>
        Full name
        <input name="full-name">
    </label>
    <label>
        Email
        <input type="email" name="email" id="email">
    </label>
    <label>
        Password
        <input type="password" name="password">
    </label>
    {{#if error}}
        <div class="error">
            {{error}}
        </div>
    {{/if}}
    <div class="error" id="error-email-existed" style="display: none">Email existed!</div>
    <div class="success" id="success-email" style="display: none">Email available</div>
    <button id="register-button">Register</button>
</form>
{{#extend "scripts"}}
    <script>
        $('#email').change(function () {
            $.getJSON('/api/auth/verify-email/' + $(this).val(), function (data) {
                if (data) {
                    $('#error-email-existed').hide();
                    $('#success-email').show();
                    $('#register-button').attr('disabled' , false)
                } else {
                    $('#error-email-existed').show();
                    $('#success-email').hide();
                    $('#register-button').attr('disabled' , true)
                }
            });
        });
    </script>
{{/extend}}
